# Python Assessment on Lec 2


* 2	List operation

##  1 create a list containing numbers form 1 to 5?

In [5]:
li1=[1,2,3,4,5]
li1

[1, 2, 3, 4, 5]

List are used to store multiple items in a single variable. it can store mutiple datatype to declaring we use [] square bracket. list accept dublicate and can be mutable/changeable

### 2. check if a list is having element 'a' in it?

In [3]:
li = [1,2,3,'a','b','c']
'a' in li

True

The in keyword is used to check if a value is present in a sequence (list, range, string etc.).

### 2.1 .Is a list mutable?

In [6]:
#run the following code to see the id of the list and answer whether the list is mutable or not?
x = [1]
print(id(x),':',x)
x.append(5)
x.extend([6,7])
print(id(x),':',x)
# yes list is mutable you can see that changes in elements in a LIST do not change the LIST id

2714286772480 : [1]
2714286772480 : [1, 5, 6, 7]

### 3. Print list in reverse order
* Hint use slicing

List is reverse by slice[::-1], there are other way to reverse by usinge reverse() function

In [7]:
list1 = [1,2,3,4,5,6]
list1[::-1]

[6, 5, 4, 3, 2, 1]

### 4. Perform following operations on list1
* Maximum
* Minimum value
* Sum of all elements in list

In [12]:
list1 = [1,2,3,4,5,6,6,7]
print(max(list1))
print(min(list1))
print(sum(list1))

7
1
34

### 5. Read user name(string) as input and print it in Reverse order
* eg: input - PREPLEAF
* o/p - FAELPERP

reversing order of string by slicing

In [17]:
str1="PREPLEAF"
str1=str1[::-1]
str1

'FAELPERP'

### 6.  Sort the l1 in ascending order and descending order
* hint : use **Sort**
### eg:
#### Input: [2,58,697,10,245,3,5,589,25]
#### Output [2, 3, 5, 10, 25, 58, 245, 589, 697]       and       [697, 589, 245, 58, 25, 10, 5, 3, 2]

In [29]:
li2=[2,58,697,10,245,3,5,589,25]
li2.sort()
print(li2)
li2.sort(reverse=True)
print(li2)

[2, 3, 5, 10, 25, 58, 245, 589, 697]
[697, 589, 245, 58, 25, 10, 5, 3, 2]

sorting can be done by nested loop and using if statement
for(i = 0; i<5; i++) {
   for(j = i+1; j<5; j++)
   {
      if(a[j] < a[i]) {
         temp = a[i];
         a[i] = a[j];
         a[j] = temp;

### 7. Take a string as input from user and sort string in alphabetic order

#### eg: Input  -  "amit"
#### Output :  ['a', 'i', 'm', 't']

In [3]:
str2="amit"
print(list(str2))

['a', 'm', 'i', 't']

### 8. create 2  lists with integers and do following operations
* list1 + list2
* list1 - list2

#### eg: Input  list1 = [1,2,3,4,5,6]     list2 = [2,5,7,8,9,11]
#### Output  list1 + list2  = [1, 2, 3, 4, 5, 6, 2, 5, 7, 8, 9, 11]
#### list1 - list2 = [1,3,7,8,9,11]

In [4]:
list1 = [1,2,3,4,5,6]
list2 = [2,5,7,8,9,11]
NewList = list1+list2
print(NewList)
Newlist1=list(list(set(list1)-set(list2))+list(set(list2)-set(list1)))
print(Newlist1)

[1, 2, 3, 4, 5, 6, 2, 5, 7, 8, 9, 11]
[1, 3, 4, 6, 8, 9, 11, 7]

### 9. Append list1 to list2 and print list2

In [45]:
list1 = [1,2,3,4,5,6]
list2 = [2,5,7,8,9,11]
list2.append(list1)
list2

[2, 5, 7, 8, 9, 11, [1, 2, 3, 4, 5, 6]]

The append() list method add the given list or array to the current list. it will simple add whole lits without iterable

### 11. Extend list1 with list2?

In [5]:
list1 = [1,2,3,4,5,6]
list2 = [2,5,7,8,9,11]
list1.extend(list2)
list1

[1, 2, 3, 4, 5, 6, 2, 5, 7, 8, 9, 11]

The extend() list method adds the elements from the given iterable like list or array to the current list. it will extract one by one element from list and make new list

### 11. Concate 2 strings using '+'

In [47]:
str1='prep'
str2='leaf'
print(str1 + str2)

prepleaf

### 12. Print last character in a string

In [11]:
str1 = "PREPLEAF"
str1[-1:]

'F'

# bonus

### Do python lists store values or pointers?

In [12]:
print( id(1) ) #=> 4438537632
print( id(2) ) #=> 4438537664
a = [1,2,3]
print( id(a) ) #=> 4579953480
print( id(a[0]) ) #=> 4438537632
print( id(a[1]) ) #=> 4438537664

2807240157488
2807240157520
2807321379008
2807240157488
2807240157520

Python lists donâ€™t store values themselves. They store pointers to values stored elsewhere in memory. This allows lists to be mutable.

In [ ]:
# Python list store pointer/address of next value in the series. and refering the address compiler can access the value present at that address